* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {
    margin:0;
    padding: 0;
    width: 100vw;
    font-family: 'Lucida Grande' sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
}
.navbar i {
    font-size: 1.8em;
    color: #ffffff;
}

.navBar ul{
    width: 80vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-top:15px;
}
.navBar ul li {
    margin-right: 13%;
}
.navBar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.navBar ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 25px;
}

.hero{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;

}
/* ===========FORM STUFF */
 .signUpStuff{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    opacity: 0.5;
    background: #FA7268;
    color: #ffffff;
    border-style: none;
}

.signUpStuff:hover{
    opacity: 1;
    background: #FA7268;
    color: #ffffff;
    
}

.signUpStuff{

    position: fixed;
    top: 80%;
    margin-left: 40%;
    font-size: 15px;
}


.formSection{
    width:60vw;
    height: 55vh;
    margin-left: 25%;
    position: fixed;
    top: 40%;
    background: #E5E5D8;
    opacity: .9;
    display: none;
}
.formSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newUser{
    margin-left: 30%;
}

.form-group input{
    padding: .3em 5em;
}


.signUp span {
    font-weight: bold;
    font-size: 20px;
} 

.submit {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: #434343;
    color: #ffffff; 
    width: 26vw;
}

/* ===== Displaying the Form*/

.exitButton{
    font-size: 2em;
    color: grey;
}


#newUser{
    display: none;
};

/* === */
#sub-box {
    padding-top: 2em;
    width: 80%;
 }
 #sub-box label {
     width: 55%;
 }
 
 .ui-radio {
    display: none;
 }
 
 .ui-radio + label{
  position: relative;
  padding-left: 50px;
  padding-bottom: 12px;
 }
 .ui-radio + label:before {
    border: 1px solid #2c4251;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    content: ' ';
    width: 30px;
    height: 30px;
    top:0px;
    left:0px;
 }
 
 .ui-radio:checked + label:after {
    content: ' ';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    background: #FA7268;
    top: 0px;
    left: 0px;
 }
 
 .ui-radio:checked + label:before {
    color: #FA7268;
 }
 

 .fa-chevron-circle-right {
    font-size: 30px;
    color: rgb(131, 131, 131);
    position: relative;
    border-style: none;
 
 }
 /* ====== */

.pleaseWork{
    margin-top: 2em;
    text-align: center;
    width: 60%;
}

/* ===== */
.stories h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.section.one div{
    background-image: url("../images/got.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin-left: 15%;
    margin-right: 15%;
}
.section.one {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10%;
}

.section.two div{
    background-image: url("../images/hollywood.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin-left: 15%;
    margin-right: 15%;
}
.section.two {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10%;
}
.section.three div{
    background-image: url("../images/royal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin-left: 15%;
    margin-right: 15%;
}
.section.three {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10%;
}







.pos-f-t{
    display: none;
}
/* ==================800px========= */
@media only screen and (max-width: 800px){
body {
    margin: 0;
    padding: 0;
    width: 800px;
}
.navbar i {
    font-size: 20px;
    color: #ffffff;
}

.navBar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 16px;
}
.navBar ul{
    justify-content: start;
    margin-top:15px;
    margin-right: 5em;
}
.navBar ul li {
    margin-right: 5%;
}

.hero{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;

}
.signUp{
    top: 50%;
    right: 15%;
    font-size: 10px;
}
.signUp span {
    font-size: 15px;
}
.section.one div{
    background-image: url("../images/got.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.section.two div{
    background-image: url("../images/hollywood.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.section.three div{
    background-image: url("../images/royal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.submit {
    width: 21em;
}

}








/* ===========================================400px*/
 
@media only screen and (max-width: 400px){
body {
    margin: 0;
    padding: 0;
    width: 400px;
}
.navbar i {
    display: none;
}
.navBar{
    display: none;
}
.pos-f-t{
    display: inline;
} 

.bg-dark ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bg-dark ul{
    list-style-type: none;
}

.bg-dark ul li a{
    font-family: 'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #ffffff;
    text-decoration: none;
} 

.hero{
    background-image: url("../images/hero_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;

}
.signUp{
    top: 48%;
    right: 30%;
    font-size: 7px;
}
.signUp span {
    font-size: 13px;
}

.section.one div{
    background-image: url("../images/got_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}
.section.two div{
    background-image: url("../images/hollywood_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}
.section.three div{
    background-image: url("../images/royal_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}

.section.one {
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 10%;
}

.section.two {
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 10%;
}

.section.three {
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 10%;
}


.submit {
    width: 20em;
}
.pleaseWork h4{
    font-size: 10px;
}
}